.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.review-img {
  max-width: 25vh;
}

.review-body {
  width: 95%;
  text-align: justify;
}

#category-element {
  margin-top: 20px;
}

.category-links {
  padding: 5px;
  border: solid black 1px;
  border-radius: 5%;
  margin: 10px;
  background-color: aquamarine;
}